.newConsoleFormSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
      width: 100%;
}

.newconsolebackbtn a{
    color: white;
    text-decoration: none;
}