.newLocationFormSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
      width: 100%;
}

/*
'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/800px-Image_not_available.png?20210219185637'
*/