.addlocationbtn a{
    color: white;
    text-decoration: none;
}

.locationlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 5%
}

.locationlist img{
    width: 200px;
}

.locationCard{
    
    border: 5px solid green;
    border-radius: 15px;
    
}

@media (max-width:500px) {
    .locationlist{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        margin: 5%
    }
}