.App {
  text-align: center;
  background-color: #e0e1dd;
  font-family: 'Courier New', Courier, monospace;
}

html {
  font-family: 'Courier New', Courier, monospace;
  /* font-size: calc(10px + 2vmin); */
  background-color: #e0e1dd;
}

.collectionCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 50px;
  border: 10px solid #778da9;
  box-shadow: 10px 5px 5px #052a52;
  margin-left:50px;
  margin-right: 50px;
  /* background-color: #778da9; */
  color: #052a52;

}
.collectionCards img{
  height: 350px;
  border-radius: 50px;
}
